@import url('https://fonts.googleapis.com/css?family=Mukta');

h1 {
  font-family: 'Mukta', 'sans-serif';
  font-size: 55px;
  width: 300px;
  height: 100px;
  padding: 10px;
  color: ;
  border-radius: 7px;
  border: 2px black solid;
  text-align: center;
  margin: 0px;
  box-sizing: border-box;
  background: black;
}

h2 {
  color: #339966;
  font-family: 'Mukta', 'sans-serif';
  font-size: 17px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.label {
  margin: 0;
  padding: 0;
  font-size: 19px;
}

.current_time {
  color: #ffb100;
  font-family: 'Mukta', 'sans-serif';
  font-size: 20px;
  margin: 0;
  margin-top: 15px;
}

.loading,
.loading_reset {
  width: 300px;
  height: 10px;
  background: #ffb100;
  border-radius: 15px;
  /*    border: 3px solid black;*/
  animation-name: loading_bar;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  position: absolute;
}

@keyframes loading_bar {
  from {
    width: 0px;
  }

  to {
    width: 300px;
  }
}

.input-time {
  width: 200px;
  height: 30px;
  background: #f3f3f3;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  border: none;
  border-right: none;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  font-family: 'Mukta', 'sans-serif';
  font-size: 16px;
}

.send {
  width: 30px;
  height: 30px;
  background: #ffb100;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  border-radius: 0 5px 5px 0;
  border: none;
  border-left: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label span {
  display: block;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  background: #ffb100;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  text-align: center;
  font-family: 'Mukta', 'sans-serif';
  color: black;
}

/*specificity*/
input[type="checkbox"]:hover+label span {
  background: #663399;
}

input[type="checkbox"]:checked+label span {
  background: #339966;
}

.send:hover {
  background-color: #663399;
  color: white;
}

.send:active {
  background-color: #339966;
}

.form {
  display: flex;
}

body {
  background: #339966;
}

.container {
  position: absolute;
  display: block;
  margin: 0;
  padding: 15px;
  background: black;
  border-radius: 15px;
  border: 5px solid rebeccapurple;
  box-shadow: -2px -2px 0 #ae7de0;
}